.tabs:after {
    content: ' ';
    display: block;
    clear: both;
}
.tabs {
    padding-left: 0;
    list-style-type: none;
}
.tabs > li {
    float: left;
    margin-right: .5rem;
}
.tab.is-active {
    font-weight: bold;
}
.panel {
    display: none;
}
.panel.is-active {
    display: inherit;
}
